<h1> All IPA's </h1>
<h3> Would you like to <%= link_to "Create a new IPA?", new_ipa_path %></h3>
<ul>
<% @ipas.each do |i| %>
    <li> Name: <%= i.name %> </li>
    <li> Brand: <%= i.brand %> </li>
    <li> Size: <%= i.name %> </li>
    <% end %>
</ul>
